@{
    ViewBag.Title = "Lời Nói Đầu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Chào các bạn ,

    Thư viện SbookSystem ra đời với mục đích chia sẻ các tựa sách hay đến với mọi người , hoàn toàn miễn phí , đa số mọi bài viết đều có định dạng hỗ trợ các bạn tìm và mua sách trên smartphone hoặc Computer và hiện bọn mình đang tiếp tục code thêm chức năng cho web, để sắp tới mọi người có thể chia sẽ những tựa sách hay của mình và cùng SBookSystem tạo ra 1 thói quen đọc sách đến mọi người.

    Chúc các bạn vui vẻ !
</p>
