@{
    ViewBag.Title = "Liên Hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Email : Sbooksystem.com<br />
    Đ/c : Cơ sở 3: 69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP. HCM
    <br />
    <abbr title="Sđt">P:</abbr>
    0976036084
</address>

<address>
    <strong>Hỗ Trợ :</strong>   <a href="mailto:Support@example.com">SbooksystemTeam31@gmail.com</a><br />
    <strong>Đội Kỹ Thuật:</strong> <a href="mailto:Marketing@example.com">Kythuat31@gmail.com</a>
</address>